@model ContactApp.Models.ContactInfo

<h2>Contact Details</h2>

@if(Model !=null){
    <p>@Model.ContactId</p>
    <p>@Model.FirstName @Model.LastName</p>
    <p>@Model.EmailId</p>
    <p>@Model.CompanyName</p>
    <p>@Model.Designation</p>
}else{
    <p>Contact not found</p>
}
